{% extends "content_base.html" %}
{% block customcss %}
<style type="text/css">
<!--
*{
	margin:0;
	padding:0;
}
body {
	text-align:center;
	background-color:#E6EFF8;
}
td{
	font-size: 12px;
	line-height:150%;
}
h1{
	height:20px;
	line-height:20px;
	font-size:12px;
	text-align:center;
	background-color:#f1f1f1;
	color:#CC0000;
}
.box_border{
	margin:50px auto;
	border:1px solid #dcdcdd;
	width:450px;
}
a:link {
	color: #0000FF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #003399;
}
a:hover {
	text-decoration: underline;
	color: #0066FF;
}
a:active {
	text-decoration: none;
	color: #0066FF;
}
-->
</style>
{% endblock %}
{% block content %}
<div class="box_border">
	<h1>提示信息</h1>
	<table width="100%" cellspacing="5" cellpadding="0" bgcolor="#f5f5f5">
	  <tr>
	    <td align="center" bgcolor="#FFFFFF">
			<p>
			{{ msg }}
			</p>
			{% autoescape off %}
					{{tag}}
			{% endautoescape %}
			<p>
			<a id="go_forward" href="#">如果您的浏览器没有自动跳转，请点击这里</a>
			</p>
	    </td>
	  </tr>
	</table>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
function go_forward(){
	{% if url_forward and parent %}
	setTimeout("parent.parent.location.href='{{url_forward}}';", {% if ms %}{{ms}}{%else%}3000{%endif%});
	{% else %}
		{% if url_forward%}
		setTimeout("location.href='{{url_forward}}';", {% if ms %}{{ms}}{%else%}3000{%endif%});
		{% else %}
		setTimeout("history.back();", {% if ms %}{{ms}}{%else%}3000{%endif%});
		{% endif %}
	{% endif %}
}
$().ready(function(){
	$("#go_forward").click(function(){
		{% if url_forward and parent %}
		parent.parent.location.href='{{url_forward}}';
		{% else %}
			{% if url_forward%}
			location.href='{{url_forward}}';
			{% else %}
			history.back();
			{% endif %}
		{% endif %}
	});
	go_forward();
});
</script>
{% endblock %}