{% extends "content_base.html" %}

{%block content%}
	{% if msg %}
		<div class='{{msg.css}}'>
   			<p>{{msg.msg}}</p>
		</div>
             <br />
	{% endif %}

    <h3 class="marginbot">
             管理菜单
        <a class="sgbtn" href="{{MContext.SITE_PATH}}menu/add/">添加新菜单</a>
    </h3>
    <div id="tabs" >
        <ul>
            <li style="height:20px;"><a href="#tabs-1">菜单列表</a></li>
        </ul>
    <form action="?" method="get">
	                <table>
	                    <tr>
	                        <td>菜单名称</td>
	                        <td>{{form.menu_name}}</td>
	                        <td>
	                            &nbsp;&nbsp;<input class="btn" type='submit' name='dosearch' value='提交' />
	                        </td>
	                    </tr>
	                </table>
	</form>

    </div>
	<br />
	<div class="mainbox">
	<form method="post" id='optform' action="{{site_path}}task/batchDelete/" >
		<table class="datalist fixwidth" id="datatable">
			<tr>
				<th nowrap="nowrap" style="width:10px;"><input style="padding:1px;margin:0px;" type="checkbox" name="chkall" id="chkall"  class="checkbox" /></th>
				<th nowrap="nowrap" >ID</th>
				<th nowrap="nowrap">菜单名称</th>
				<th nowrap="nowrap">是否可见</th>
				<th nowrap="nowrap">URL</th>
				<th nowrap="nowrap">更新</th>
				<th nowrap="nowrap">删除状态</th>
				<th nowrap="nowrap">操作</th>
			</tr>
			{% if data %}
				{% for me in data.object_list %}
			<tr class="nobg">
				<td style="width:10px;"><input style="padding:1px;margin:0px;" type="checkbox" name="ids" value="{{me.id}}" class="checkbox" /></td>
				<td>{{me.id}}</td>
				<td>{{me.menu_name}}</td>
                <td>{{me.menu_visibility}}</td>
				<td>{{me.menu_link}}</td>
                <td>{{me.menu_last_update}}</td>
                <td>{{me.flag}}</td>
				<td>

					<a href="{{MContext.SITE_PATH}}menu/delete/{{me.id}}/" onclick="return confirm('真的要删除菜单[{{menu.menu_name}}]吗？');">删除</a>
				</td>
				{% endfor %}
			</tr>
			{% endif %}
			<tr>
                <td colspan="3">

                    <label><input type="radio" name='opt' value='0' id='radiodel' checked="checked" />删除</label>

                    <input class="btn"  type="submit" value="提 交"/>
                </td>
                {% autoescape off %}
                <td class="tdpage" colspan="6">{% include "pager.html"%}</td>
                {% endautoescape %}
			</tr>
		</table>
		<div id='opt'></div>
	</form>
	</div>
{% endblock %}
{% block scripts%}
<script type="text/javascript" src="{{Mcontext.JQUERY_PATH}}ui/i18n/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" >
    $().ready(function(){
    	$('#tabs').tabs();
        $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
        $('#mintime').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'
        });
        $('#maxtime').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'
      });
        $('#chkall').click(function(){
            check = $(this).attr('checked');
            $('#datatable').find(':checkbox').each(function(){
                $(this).attr('checked',check);
            });
        });

        $('#optform').attr('action',"{{site_path}}task/batchDelete/");
        $("#optform").unbind("submit");
        $('#optform').submit(function(){
            return confirm('真的要删除这些项目吗？这些操作将无法恢复。');
        });

        $('#radiodel').click(function(){
                if ($(this).attr('checked')) {
                	$('#optform').attr('action',"{{site_path}}task/batchDelete/");
                	$("#optform").unbind("submit");
                	$('#optform').submit(function(){
                		return confirm('真的要删除这些项目吗？这些操作将无法恢复。');
                    });
                }
            });
        $('#radiomove').click(function(){
            if ($(this).attr('checked')) {
                $('#optform').attr('action',"{{site_path}}task/move/");
                $("#optform").unbind("submit");
                $('#optform').submit(function(){
                     return confirm('真的要移动这些项目吗？如果这些项目中有的是一级项目，其子项目可能会丢失。');
                  });
            }
        });
    });

</script>
{% endblock %}


{% if info %}
	<a href="/service/add/">{{info}}</a>
{% else %}
	<p>You does not have the permission.</p>
{% endif %}